* {
    margin:0;
    padding: 0;
}
.seccion0 {
    
    width: 100%;
    margin: 0 auto;
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imagenes/onda4.svg);    
    
}
    
/*REGLAS GENERALES*/

body {
    background-color: rgb(9, 10, 26);
    font-family: "Poppins";
    
    
}
.titulo {
    
    width: 80%;
    color:  rgba(34, 35, 49, 0.50 );
    font-size: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 3%;
    margin-top: 2%;
}
.botones {
    background-color: rgb(100, 123,255);
    color: white;
    border: none;
    border-radius: 5%;
    height: 35px;
    font-family: "Poppins";
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    
}
/*Agregar transiciones de botones*/

.botones:hover {
    background-color: rgb(9, 10, 26);
    border: solid 2px;
    border-color: rgb(60, 76, 154);
}


/*MENU*/

header {
    
    position: fixed;
    width: 100%;   
    background-color: rgb(9, 10, 26, 0.7);
    
}
.contenedorheader {  
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    color: rgb(100, 123,255);
    font-size: 250%;  
    margin-left: 0%;
    
}

.menu {
    
    margin-left: 70px;
    margin-right: 70px;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.9rem;
}

a:hover {
color: rgb(82, 97, 214);
background-color: rgb(23, 27, 60);
border: none;
border-radius: 2px;
}
.botoncontratame {
    display: flex;
    margin-right:-3%;
}
.iconomenu {
    background-image: url(imagenes/menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 3rem ;
    height: 3rem;
    margin-right: -12%;
    display: none;

}

/*Seccion 1: HERO*/

.seccion1 {
    width: 80%;
    height: 78vh;
    margin: 0 auto;
    padding-top: 6%;
    display: flex;
    background-image: url(imagenes/fotopersonal1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
    
}

/*Seccion 1 HERO DERECHA REDES SOCIALES*/

.seccion1der {
    margin-top: 0%;
    width: 10%;
    margin-right: 0%;
    
       
}

.Seguime {
    transform: rotate(90deg);
    margin-top: 8rem;
    margin-left: 5px;
    color: white;
    font-size: smaller;
    
       
}

.linea2 {
    width: 2px;
    height: 7%;
    border: solid 1px;
    border-color: rgb(60, 76, 154);
    background-color: rgb(100, 123,255);
    margin-left: 50%;
    margin-top: 15%;
}
.cajaiconosredes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:9rem ;
    width: 10%;
    margin-left: 36%;
    margin-top:20% ;
   
}

.BotonInstagram {
    margin: 10% 5%;
    height: 1.5rem;
    background-image: url(imagenes/‎Instagram2.svg);
    background-repeat: no-repeat;
    background-size: cover;
        
}
.BotonFacebook {   
    margin: 10% 5%;
    height: 1.5rem;
    background-image: url(imagenes/facebok4.svg);
    background-repeat: no-repeat;
    background-size: cover;
     
}
.BotonTwitter {
       
    margin: 10% 5%;
    height: 1.5rem;
    background-image: url(imagenes/twitter.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.BotonLinkedin {  
    margin: 10% 5%;
    height: 1.5rem;
    background-image: url(imagenes/linkedin4.svg);
    background-repeat: no-repeat;
    background-size: cover;
     
}


/* Seccion 1 HERO IZQUIERDA PRESENTACION*/
.seccion1izq{
    width: 90%;
}
.cajahola {
    height: 12rem;
    display: flex;
} 
.hola {
    color: rgba(34, 35, 49, 0.50 );
    font-size: 10rem;
    margin: 0%;
    font-family: sans-serif;
    display: flex;
}
.lineazigzag {
    height: 3rem;
    width: 3rem;
    margin-left: -16rem;
    margin-right: 11rem;
    margin-bottom: 10rem;
    margin-top: 7.8rem;
    display: flex;
    justify-content: start;
    align-items: start;      
    
}
.cubo1 {
    height: 3rem;
    width: 3rem;
    margin-left: -20rem;
    margin-right: 11rem;
    margin-bottom: 10rem;
    margin-top: 7rem;
    display: flex;
    justify-content: start;
    align-items: start;      
}
.cubo2 {
    height: 3rem;
    width: 3rem;
    margin-left: 3rem;
    margin-right: 11rem;
    margin-bottom: 10rem;
    margin-top: 4rem;
    display: flex;
    justify-content: start;
    align-items: start;  
}

.soy {
    color: white;
    font-size: 40px;
    font-weight: lighter;
}

.nombreyapellido {
    color: white;
    display: inline-flex;
    
}

.nombre {
    padding-right: 10px;
    font-size: 40px;
    font-weight: lighter;
        
}

.apellido {
    font-weight: bolder;
    font-size: 45px;
}

.linea {
    width: 100px;
    height: 3px;
    border: solid 1px;
    border-color: rgb(60, 76, 154);
    background-color: rgb(100, 123,255);
    margin-bottom: 2%;
}

.presentacion1 {
    color: white;
    font-size: small;
    margin-bottom: 2%;
    
}
.cajapresentacion {
    display: flex;
    width: 50%;
    margin-bottom: 0%;
}
.cubo3 {
    height: 2rem;
    width: 2rem;
    margin-left: -5rem;
    margin-right: 0rem;
   
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;  

}
.nubedescarga {
padding-right: 5px;
}

.espacio {
    width: 100%;
    height: 8rem;
    
}

/*Seccion 2: ACERCA DE*/

.seccionacercade {
 width: 80%;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 5%;
 display: flex;
 height: 450px;
     
}

/*Seccion 2 ACERCA DE - IZQUIERDA*/

.acercadeIzq {
    width: 75%;
    display: flex;
    
}
.bordepunteado {
    height: 26.5rem;
    width: 20rem;
    border: solid 3px;
    border-radius: 2%;
    border-style: dashed;
    border-color: rgb(60, 76, 154);
    margin-left: 0;
    z-index: -2;
}
.imagenacercade {
    background-image: url(imagenes/fotopersonal2.jpg);
    background-size: cover;
    height: 26.5rem;
    width: 20rem;
    border-radius: 2%;
    margin-left: -18rem;
    margin-top: -1.8rem;
    /*position: absolute;*/
    z-index: -1;
}

/*Seccion 2 ACERCA DE - DERECHA*/

.acercadeDer {
    
    width: 90%;
    
    word-spacing: 2px; 
}

.textoacercade {
    color: white;
    font-size: 0.7rem;
    margin-top: 1rem;
    text-align: justify;
}
.parrafo1 {
    padding-bottom: 1rem;
}
.parrafo2 {
    padding-bottom: 2rem;
}

.datospersonales {
    display: flex;
    width: 100%;
     
}
.datos {
    display: flex;
    padding: 0.8rem 0;
    letter-spacing: 1px ;   
}
.datosizq {
    
    margin-right: 20%;
}

.datoceleste {
    color: rgb(60, 76, 154);
    font-weight: bold;
    letter-spacing: 1px;
   
}
.botones2 {
    margin-top: 4%;
    height: 50px;
    width: 65%;
    display: flex;
    justify-content: space-between;
         
}


/*SECCION 3: HABILIDADES*/
.seccionhabilidades {
    margin-bottom: 5rem;
}
.titulohabilidades {
    margin-top: 4rem;
}
.navhabilidades {
    
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.lineahabilidad {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
    align-items: center;
}
.cajahabilidad {
    width: 25%;
    letter-spacing: 2px;
    font-size: 1.2rem;
    
}
.habilidad1 {
    color: white;
    
}
.lineacirculos {
    display: flex;
}
.circulos {
    border-radius: 50%;
    border:  1px;
    border-color: rgb (81, 100, 205);
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    background-color: rgb(100, 123,255);
    color: white;
    font-size: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circulos2 {
    border-radius: 50%;
    border: 1px;
    border-color: rgb (81, 100, 205);
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    background-color: rgb(23, 26, 60);
    
}

/*SECCION 4 : PORTAFOLIO*/

.navportafolio {
   
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.portofoliolinea1 {
    /*background-color: coral;*/
    height: 250px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;

}
.portafolioejemplo1 {
    width: 30%;
    height: 90%;
    font-size: 250%; 
    background-color: white;
    margin-top: 2%;
    border-radius: 2%;
    background-image: url(imagenes/TP1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    color: rgb(100, 123,255);
    font-size: 250%; 
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.hmtlcss {
   opacity:0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

}
.portafolioejemplo1:hover {
    opacity: 0.3;
     
}
.hmtlcss:hover {
    opacity:1;
    
}


.portafolioejemplo2 {
    width: 30%;
    height: 90%;
    background-color: rgb(23, 27, 60);
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 5%;
    color: rgb(100, 123,255);
    font-size: 250%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.portafolioejemplo2:hover {
    opacity: 0.3;

}
.portafolioejemplo3 {
    width: 30%;
    height: 90%;
    background-color: rgb(23, 27, 60);
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 5%;
    color: rgb(100, 123,255);
    font-size: 250%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.portafolioejemplo3:hover {
    opacity: 0.3;

}
.portofoliolinea2 {
    
    height: 600px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.portofoliolinea2izq {
    height: 100%;
    width: 30%;
    margin-top: 0%;
}

.portafolioejemplo4 {
    width: 100%;
    height: 30%;
    background-color:rgb(23, 27, 60);
    margin-top: 2%;
    border-radius: 2%;
    color: rgb(100, 123,255);
    font-size: 250%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.portafolioejemplo4:hover {
    opacity: 0.3;

}
.portafolioejemplo6 {
    width: 100%;
    height: 66%;
    background-color: rgb(23, 27, 60);
    margin-top: 5%;
    border-radius: 2%;
    color: rgb(100, 123,255);
    font-size: 250%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.portafolioejemplo6:hover {
    opacity: 0.3;

}
.portofoliolinea2der {
    width: 65%;
    height: 100%;
    
    
}
.portafolioejemplo5 {
    width: 100%;
    height: 60%;
    background-color: white;
    background-image: url(imagenes/TP2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 1%;
    border-radius: 2%;
    color: rgb(100, 123,255);
    font-size: 250%; 
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.portafolioejemplo5:hover {
    opacity: 0.3;

}
.portofoliolinea2derabajo {
    height: 37%;
    width: 100%;
    margin-top: 2%;
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-between;
}
.portafolioejemplo7 {
    width: 46%;
    height: 93%;
    background-color:  rgb(23, 27, 60);
    margin-top: 2%;
    border-radius: 2%;
    color: rgb(100, 123,255);
    font-size: 250%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.portafolioejemplo7:hover {
    opacity: 0.3;

}
.portafolioejemplo8 {
    width: 46%;
    height: 93%;
    background-color:  rgb(23, 27, 60);
    margin-top: 2%;
    border-radius: 2%;
    color: rgb(100, 123,255);
    font-size: 250%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.portafolioejemplo8:hover {
    opacity: 0.3;

}


/*SECCION 5: CONTACTO */

.formulariocontacto {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.inputnombre, .inputemail {
    width: 95%;
    background-color: rgb(14, 15, 38);
    height: 2.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 5%;
    color: white;
    font-size: 0.6rem
}
.inputmensaje {
    width: 95%;
    background-color: rgb(14, 15, 38);
    height: 12.5rem;
    border-radius: 8px;
    border: none;
    padding-left: 5%;
    padding-top: 5%;
    color: white;
    font-size: 0.6rem;
    font-family: "Poppins";
    resize: none;
    
}
.botones4, .botones3 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 10%;
    
    
}
/*FOOTER*/
.contenedorfooter {
    
    height: 12rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.footerizquierda {
    
    width: 30%;
    height: 10rem;
    display: block;
}
.footerderecha {
    
    width: 70%;
    height: 10rem;
    display: flex;
    justify-content: center;
}
.derechos {
    text-align: center;
    width: 100%;
}
.footerlogo {

height: 25%;
width: 80%;
display: flex;
justify-content: center;
align-items: center;
}
.footerdescripcion {

height: 45%;
width: 80%;
font-size: 0.7rem;
color: white;
font-weight: 50;
padding-top: 0.5rem;
text-align: justify;
}
.footerredes {

scale: 0.7;
width: 80%;
padding-left: 11%;
padding-top: -2%;
}
.footerenlacerapido {
    width: 33%;
    height: 100%;
    
    
}
.navenlacerapido {
    display: flex;
    flex-direction: column;
    font-size: 10px;

}
.navfooter {
    font-size: 0.8rem;
    color: white;
    padding: 1% 0%;
    

}
.parrafo4 {
    font-size: 0.8rem;
    color: white;
    padding: 1% 0%;
}

.navfooter:hover {
    
    color: rgb(100, 123,255);
    background: none;
}
.titulosfooter {
    color: white;
    font-size: 1.1rem ;
    margin-bottom: 0.7rem;
}
.footerservicios {
    width: 33%;
    height: 100%;
    

}
.footercontacto {
    width: 33%;
    height: 100%;
   

}
.logo2 {
    color: rgb(100, 123,255);
    font-size: 220%;  
    margin-left: 0%;
    margin-top: 0%;
    padding-top: 0;
    
}
.BotonInstagram2 {
    margin: 10% 2%;
    height: 1.5rem;
    background-image: url(imagenes/‎Instagram2.svg);
    background-repeat: no-repeat;
    background-size: cover;
        
}
.BotonFacebook2 {   
    margin: 10% 2%;
    height: 1.5rem;
    background-image: url(imagenes/facebok4.svg);
    background-repeat: no-repeat;
    background-size: cover;
     
}
.BotonTwitter2 {
       
    margin: 10% 2%;
    height: 1.5rem;
    background-image: url(imagenes/twitter.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.BotonLinkedin2 {  
    margin: 10% 2%;
    height: 1.5rem;
    background-image: url(imagenes/linkedin4.svg);
    background-repeat: no-repeat;
    background-size: cover;
     
}
.parrafo3 { 
    font-size: 0.7rem;
    color: white;
    font-weight: 50;
    padding-top: 0.8rem;
    text-align: justify;
       
}
.derechos {
    font-size: 0.7rem;
    color: white;
    font-weight: 50;
    border-top: 1px solid white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

/*MEDIA QUERIE*/

/*Medida iPhone 12 Pro 390X844*/

@media (max-width:767px) {
 .menu{
    display: none;
 }
 .botoncontratame{
    display: none;
 }
 .iconomenu {
    display: block;
    margin-right: 0.1rem;
}
.hola {
    scale: 0.5;
    margin-left: -20%;
}
.nombreyapellido {
    flex-direction: column;
}
.Seguime { 
    scale: 0.8;
    
}
.linea2 {
    margin-top: 2rem;
    scale: 0.8;
}
.cajaiconosredes {
    scale: 0.7;
    margin-top: -1rem;

}
.titulo {
    margin-left: -10%;
    font-size: 21px;     
    padding-left: 20%;    
}
.seccion1 {
    height: 68vh;
}
.acercadeIzq {
    display: none;
}
.navacercade {
     scale: 0.5;
     padding-left: 1rem;
     padding-right: 0;
     }
.acercadeDer {
    word-spacing: normal;
    width: 95%;
    margin-bottom: 10rem;
}
.tituloacercade {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
}
.datospersonales {
    flex-direction: column;
}
.acercadebotones {
    scale: 0.5;
    margin-right: 2rem;
    margin-left: 1rem; 
    
    
}
.navhabilidades {
    scale: 0.6;
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
}
.lineahabilidad {
    scale: 0.5;
    margin-left: -8%;
}
.lineacirculos {
    scale: 0.5;
}
.navportafolio {
    scale: 0.6;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1%;
    justify-content: center;
}
.menuportafolio {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.portafolioejemplo1{
    background-repeat: repeat;
}   
.portafolioejemplo5 { 
    background-size: contain;
    background-repeat: repeat;
}
.contenedorfooter {
    display: none;
}
.botones {
    scale: 0.7;
}
.descargarcv {
    margin-top: 1.5rem;
    margin-left:-1.3rem; 
}
.datos{
    padding: 0.4rem 0;
}

}

/*Medida Ipad 768x1024*/

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .menu{
        scale: 0.6;
        margin-left: -5rem;
        margin-right: -5rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        padding-bottom: 1px;
    }
    .botones{
        scale: 0.8;
    }
    .cajahola{
        margin-top: 3rem;
    }
    .soycontenedor{
        margin-top: 3rem;
    }
    .nombreyapellido{
        margin-top: 2rem;
    }
    .descargarcv {
        margin-top: 4rem;
        margin-left: -1rem;
    }
    .cajapresentacion {
        margin-top: 2rem;
    }
    .linea {
        margin-top: 1rem;
    }
    .Seguime { 
        scale: 0.9;
        
    }
    .linea2 {
        margin-top: 2rem;
        scale: 0.8;
    }
    .cajaiconosredes {
        scale: 0.7;
        margin-top: -1rem;
    
    }
    .titulo {
        font-size: 2rem;        
    }
    .acercadeIzq{
        scale: 0.7;
        margin-left: -8%;
    }
    .acercadeDer {
        scale: 0.8;
        margin-left:-10%;
        margin-right: 0;
        word-spacing: normal;
        letter-spacing: normal;
    }
    .textoacercade{
        margin-right: -11%;
    }
    .datosizq {
        margin-right: 3%;
    }
    .datoceleste {
        letter-spacing: 0.4px;
        
    }
    .acercadebotones {       
        margin-right: 3rem;
        margin-left: 2rem;       
        
    }
    .lineahabilidad {
        scale: 0.8;
        margin-left: 4%;
        
    }
    .cajahabilidad{
        margin-right: 5%;
    }
    .lineacirculos {
        scale: 0.8;
        margin-left: 10%;
    }
    .portafolioejemplo1{
        background-repeat: repeat;
    }
    .footer {
        scale: 0.6;      
    
    } 
    .footerdescripcion{
        scale: 0.8;
    }
    .footerredes {    
        margin-top: 2.5rem;
        margin-left: -1rem;

    }
    .footerenlacerapido{
        scale: 0.8;        
    }
    .footerservicios{
        scale: 0.8;
    }
    .footercontacto{
        scale: 0.8;
    }
}

/*Media medidas intermedias*/

@media (max-width:598px) {
    .navacercade {
        scale: 0.6;
        padding-left: 1rem;
        padding-right: 0;
        }
    }

/*Media querie Macbook Pro 1440x900*/

@media only screen and (min-width: 1024px) and (max-width: 1919px){
    .seccion1{
        background-position: center;
    }
    .botoncontratame {
        margin-right:0%;
    }
    .menu{
        scale: 0.6;
        margin-left: -5rem;
        margin-right: -5rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        padding-bottom: 1px;
    }
    .footerredes {    
        margin-top: 2.5rem;
        margin-left: -1rem;

    }
}

/*Media Querie desktop*/

@media (min-width:1920px){
    .botoncontratame {
        margin-right:2%;
    }
    .seccion1izq {
        margin-top: 10%;
        
    }
    .seccion1der {
        margin-top: 10%;
    }
    .seccion1{
        background-position: center;
    }

}




